@page "/Expenses/Details"
@using Microsoft.EntityFrameworkCore
@using Budget.Models
@inject IDbContextFactory<Budget.Data.BudgetContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>RecurringExpense</h2>
    <hr />
    @if (recurringexpense is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@recurringexpense.Name</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@recurringexpense.Description</dd>
            <dt class="col-sm-2">Amount</dt>
            <dd class="col-sm-10">@recurringexpense.Amount</dd>
            <dt class="col-sm-2">PaymentFrequency</dt>
            <dd class="col-sm-10">@recurringexpense.PaymentFrequency</dd>
            <dt class="col-sm-2">PaymentDate</dt>
            <dd class="col-sm-10">@recurringexpense.PaymentDate</dd>
        </dl>
        <div>
            <a href="@($"/recurringexpenses/edit?id={recurringexpense.Id}")">Edit</a> |
            <a href="@($"/recurringexpenses")">Back to List</a>
        </div>
    }
</div>

@code {
    private RecurringExpense? recurringexpense;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        recurringexpense = await context.RecurringExpense.FirstOrDefaultAsync(m => m.Id == Id);

        if (recurringexpense is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
